* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: calc(100vh - 50px);
  background-color: #f4f4f4;
}

body {
  height: inherit;
}
#root {
  height: inherit;
}

.navbar-container {
  height: 60px;
  width: 100%;
}

.nav {
  height: 100%;
  font-size: 1.5rem;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  margin-left: 15px;
}

.nav-links {
  text-decoration: none;
  color: rgb(0, 123, 255);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.nav-links:hover {
  color: rgba(0, 123, 255, 0.739);
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.405), 0 0 20px rgba(0, 123, 255, 0.137);
}

.main-container {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  color: white;
}

.stock-search {
  color: white;
  width: 100%;
  padding: 40px;
  text-align: center;
}

.search-header {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: black;
  cursor: default;
}

.search-input {
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.chart-container {
  
  width: 50%;
  margin: auto;
}

.chart-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.chart-buttons button {
  height: 40px;
  width: 50px;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.chart-buttons button:hover {
  background-color: rgba(0, 123, 255, 0.739);
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.405), 0 0 20px rgba(0, 123, 255, 0.137);
}

.middle {
  margin: 0 20px;
}

@media (max-width: 600px) {
  body {
    width: 100vw;
  }
  .chart-container {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .chart-container {
    width: 30%;
  }
}
