.bar-container {
  height: 80px;
  min-width: 600px;
  margin: auto;
  background: linear-gradient(
    0.25turn,
    rgb(17, 0, 59),
    rgb(29, 22, 85),
    rgb(17, 0, 59)
  );
  border-radius: 5px;
  margin: 10px;
  border: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.bar-container:hover {
  transform: scale(105%);
}

.view {
  left: 0;
  background: radial-gradient(#602399, #340a64);
  background-repeat: no-repeat;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 0;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(192, 192, 192);
  transition: 0.3s all ease-in-out;
}

.view:hover {
  color: #602399;
  background: white;
}

.bar-img {
  display: inherit;
  width: 100px;
  height: 100%;
  flex-direction: inherit;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bar-img img {
  height: 80%;
  padding-right: 0;
}

.bar-header p {
  flex-basis: 100%;
}

.bar-data {
  margin-right: 0;
  width: 100px;
  padding: 10px;
  text-align: right;
}

.stock-name {
  font-size: 0.9rem;
  width: 200px;
}

.sym-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s all ease-in-out;
  width: 120px;
}

.btn {
  padding-left: 10px;
}

.plus {
  color: green;
}

.sym-container:hover {
  background: rgb(81, 6, 201);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.minus {
  color: red;
}

.green {
  color: green;
}

.red {
  color: red;
}

.add-message {
  position: absolute;
  background-color: white;
  width: 130px;
  margin-top: 40px;
  padding: 0 5px;
  color: black;
  z-index: 10;
}

@media (max-width: 600px) {
  .App {
    width: 100vw;
  }
  .bar-container {
    min-width: 95%;
  }
  .bar-img {
    height: 30px;
  }
  .stock-name {
    font-size: 0.5rem;
    padding: 10px;
  }
  .bar-data {
    font-size: 0.7rem;
  }
}
